<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/list.css' %}">
    <title>SWIDEA</title>
</head>
<body>
    <div>
        <div class="title">Idea list</div> <br/>
        나의 아이디어를 잊지 말고 기록해 보세요
        </div>    
    <a href="/posts/create">아이디어 등록</a>
    </hr>
    
    {% for post in posts %}
    <article>
    <div>
    <p><a href="/posts/{{post.pk}}">{{post.title}}</a></p>
    <small>{{post.devtool}}</small>
    <p>{{ post.rate}}</p>
    </div>
    </article>
    <hr />
    {% endfor %}
</body>
</html>
