<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/list.css' %}">
    <title>SWIDEA</title>
</head>
<body>
    <a href="/posts/create">아이디어 등록</a>
    </hr>
    
    {% for post in posts %}
    <article>
    <div>
    <p><a href="/posts/{{post.pk}}">{{post.title}}</a></p>
    <small>{{post.region}}</small>
    <p>{{ post.price }}</p>
    </div>
    </article>
    <hr />
    {% endfor %}
</body>
</html>
