{% extends 'mymoviereviews/base.html' %}
{% load static %}

<html>
    <head>
        <title>My Movie Reviews</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{% static 'css/mymoviereviews.css' %}">
    </head>
    <body>
        <div>
        <h1>{{ post.title }}</h1>
        </div>
        <hr>
        {% block content %}
        {% for post in posts %}
            <div class="post">
                <h1><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h1>
                <p>개봉년도:{{ post.year|linebreaksbr }}</p>
                <p>장르:{{ post.jangre|linebreaksbr }}</p>
                <p>별점:{{ post.score|linebreaksbr }}</p>
            </div>
        {% endfor %}
    {% endblock %}
    </body>
</html>
